         <div id="div_date_list" class="resources">
                  <%= render 'users/list' %>
               
              </div>
              <h4 class="text-center col-xs-12 col-s-12 col-md-12 col-lg-12">
                 <div id="loading_page" class="center_block active_hide loading_page" ><span class="spinner_simple"></span>
                 </div>
              </h4>
          
<script type="text/javascript">

var currentPage_date_seekers = 1;
var intervalID = 1;
var insideLoop ="false"; 

function checkScroll_date_seekers() {
  if (nearBottomOfPage() && insideLoop!="true" ) {
        insideLoop ="true";
        currentPage_date_seekers++;
      $('.loading_page').show();
          if($('#div_date_list').length == 0){
          $('.loading_page').hide();
          clearInterval(intervalID);
          for (var i = 1; i < 99999; i++){
             window.clearInterval(i);
          }
          insideLoop = "false";
          return;
        }
        jQuery.ajax('/users/page_date_list?page=' + currentPage_date_seekers , {asynchronous:true, evalScripts:true, method:'get', success: function(data, textStatus, jqXHR) {
        $('#div_date_list').append($(data).find('.paginate_do').html());
        $('.loading_page').hide();
        if($(data).find('.paginate_do').html()==null || $(data).find('.paginate_do').html().trim()==""){
          clearInterval(intervalID);
          for (var i = 1; i < 99999; i++){
             window.clearInterval(i);
          }
        }
        insideLoop = "false";
      },});
  }
}
 
function nearBottomOfPage() {
  return scrollDistanceFromBottom() < 500;
}
 
function scrollDistanceFromBottom(argument) {
  return pageHeight() - (window.pageYOffset + self.innerHeight);
}
 
function pageHeight() {
  return Math.max(document.body.scrollHeight, document.body.offsetHeight);
}
 
  intervalID = setInterval(checkScroll_date_seekers, 500);
$('document').ready(function(){
});
</script>